<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jorgeyp.brewtutor" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrewActivity"
            android:label="@string/title_activity_brew"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jorgeyp.brewtutor.MainActivity" />
        </activity>
        <activity
            android:name=".MashingActivity"
            android:label="@string/title_activity_mashing"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jorgeyp.brewtutor.MainActivity" />
        </activity>
        <activity
            android:name=".BoilingActivity"
            android:label="@string/title_activity_boiling"
            android:parentActivityName=".MashingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jorgeyp.brewtutor.MashingActivity" />
        </activity>
        <activity
            android:name=".FermentationActivity"
            android:label="@string/title_activity_fermentation"
            android:parentActivityName=".BoilingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jorgeyp.brewtutor.BoilingActivity" />
        </activity>

        <service
            android:name=".Receiver"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".ReminderService"
            android:exported="false" >
        </service>

        <activity
            android:name=".ConditioningActivity"
            android:label="@string/title_activity_conditioning"
            android:parentActivityName=".FermentationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jorgeyp.brewtutor.FermentationActivity" />
        </activity>
    </application>

</manifest>
